<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>{{ myName }}</td>
          <td>capitalizado</td>
          <td>{{ myName | capitalizado }}</td>
        </tr>

        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>

        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>

        <tr>
          <td>{{ nombre }}</td>
          <td>slice:3</td>
          <td>{{ nombre | slice:3 }}</td>
        </tr>

        <tr>
          <td>{{ arreglo }}</td>
          <td>slice:1:5</td>
          <td>{{ arreglo | slice:1:5 }}</td>
        </tr>

        <tr>
          <td>{{ Pi }}</td>
          <td> number:'3.0-0' </td>
          <td>{{ Pi | number:'3.0-0' }}</td>
        </tr>

        <tr>
          <td>{{ Pi }}</td>
          <td> number:'.0-3' </td>
          <td>{{ Pi | number:'.0-3' }}</td>
        </tr>

        <tr>
          <td>{{ num }}</td>
          <td> number:'.2-3' </td>
          <td>{{ num | number:'.2-3' }}</td>
        </tr>

        <tr>
          <td>{{ porcentaje }}</td>
          <td> percent </td>
          <td>{{ porcentaje | percent }}</td>
        </tr>

        <tr>
          <td>{{ porcentaje }}</td>
          <td> percent:'2.2-2' </td>
          <td>{{ porcentaje | percent:'2.2-2' }}</td>
        </tr>

        <tr>
          <td>{{ salario }}</td>
          <td> currency:'CAD' </td>
          <td>{{ salario | currency:'CAD' }}</td><!-- CAD = dolares canadienses -->
        </tr>

        <tr>
          <td>{{ salario }}</td>
          <td> currency:'CAD':'symbol-narrow':'.0-0' </td>
          <td>{{ salario | currency:'CAD':'symbol-narrow':'.0-0' }}</td>
        </tr>

        <tr>
          <td>{{ salario }}</td>
          <td> currency:'PEN':'symbol-narrow':'.2-2' </td>
          <td>{{ salario | currency:'PEN':'symbol':'.2-2' }}</td>
        </tr>

        <!-- <tr>
          <td>{{ valuePromise }}</td>
          <td> async </td>
          <td>{{ valuePromise | async }}</td>
        </tr> -->

        <tr>
          <td>{{ fecha }}</td>
          <td> date </td>
          <td>{{ fecha | date }}</td>
        </tr>

        <tr>
          <td>{{ fecha }}</td>
          <td> date:'medium' </td>
          <td>{{ fecha | date:'medium' }}</td>
        </tr>

        <tr>
          <td>{{ fecha }}</td>
          <td> date:'short' </td>
          <td>{{ fecha | date:'short' }}</td>
        </tr>

        <tr>
          <td>{{ fecha }}</td>
          <td> date:'medium':'GMT+1':'es-PE' </td>
          <td>{{ fecha | date:'medium':'GMT+1':'es-PE' }}</td>
        </tr>

        <tr>
          <td>{{ fecha }}</td>
          <td> date:'dd - MMMM':'GMT+1':'en' </td>
          <td>{{ fecha | date:'dd - MMMM':'GMT+1':'en' }}</td>
        </tr>

        <tr>
          <td>{{ fecha }}</td>
          <td>
            date:'dd - MMMM':'GMT+1':'{{idioma}}'
            <hr>
            <button class="mr-1 btn btn-primary" (click)="idioma = 'es-PE'">Español</button>
            <button class="mr-1 btn btn-secondary" (click)="idioma = 'en'">Ingles</button>
            <button class="mr-1 btn btn-success" (click)="idioma = 'fr'">Frances</button>
          </td>
          <td>{{ fecha | date:'dd - MMMM':'GMT+1':idioma }}</td>
        </tr>

        <tr>
          <td>{{ nombre }}</td>
          <td>
            contrasena:{{activar}}
            <hr>
            <button (click)="activar=!activar" class="btn btn-outline-primary"> activar/desactivar </button>
          </td>
          <td>{{ nombre | contrasena:activar }}</td>
        </tr>

      </tbody>
    </table>

  </div>
  <div class="col-6">
    <h4>Slice</h4>
    <hr>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:20"> {{ item }} </li>
    </ul>
  </div>
  <div class="col-6">
    <h4>JSON</h4>
    <hr>
    <div class="row">
      <div class="col">
        <pre>
          {{ heroe | json }}
        </pre>
      </div>
    </div>
  </div>
  <div class="col-12 my-3">
    <h4>DOM seguro</h4>
    <hr>
    <div class="row">
      <div class="col">
        <iframe width="560" height="315" [src]="videoUrl | domseguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>


</div>
